body {
  overflow-x: hidden;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/* 
.about-img {
  margin-top: -50px;
}
*/

/* Dynamic Copyright Code */
.copyright-link {
  color: #f8f9fa;
}

.copyright-link:hover {
  color: rgb(96, 229, 19);
  text-decoration: none;
}

.social-icons {
  box-sizing: content-box;
}

/* Miscellaneous */
.card-link {
  text-decoration: none;
}

.boxboxbox {
  text-size-adjust: 100%;
}

.test {
  text-align: left;
}
